.container {
  border: 2px solid #515151;
  background-color: #af1e39;
  width: 375px;
  height: 645px;
  border-radius: 12px;
  padding: 35px;
}

.display {
  height: 100px;
  width: calc(100% - 30px);
  line-height: 100px;
  text-align: right;
  border-radius: 50px;
  margin: 20px 0 30px;
  background-color: #323335;
  color: white;
  font-size: 2.5rem;
  padding: 0 15px;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 12px;
  border: none;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
  outline: none;
}

.button-container {
  display: flex;
  width: 100%;
}

.left {
  width: 75%;
  margin-right: 15px;
}

.specials-buttons,
.number-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.operator-buttons {
  width: 25%;
}

.operator-buttons button {
  background-color: #007291;
}

.specials-buttons button {
  background-color: #0b5d9b;
}

.number-buttons button {
  background-color: #094377;
}

.double {
  width: 175px;
}
